<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script>
        function updateComplete(id,completed){
            console.log(id)
            fetch(`/markAsComplete/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    completed: !completed
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));

        }
    </script>
</head>

<body class="bg-gray-100">

  <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <a href="/page/new?ChapterId=<%= ChapterId %>">
            <button type="button"
                class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                Create New Page <%= ChapterId %>
            </button>
        </a>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-8">
            <% allPage.forEach(page => { %>
            <% if (Number(ChapterId) === page.dataValues.ChapterId) { %>
            <div class="bg-white overflow-hidden shadow-lg rounded-lg">
                <div class="p-4">
                    <button type="button"
                        class="w-full focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                        <%= page.dataValues.content %>
                    </button>
                </div>
                <div class="p-4">
                    <button type="button" id="markasComplete-<%= page.dataValues.id %> "  <%= page.dataValues.completed ? "true":"false" %> onclick="updateComplete(<%= page.dataValues.id %>,<%= page.dataValues.completed %>)"
                    class=" w-full bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 focus:outline-none focus:ring focus:border-green-300 " >
                         <%= page.dataValues.completed ? "Completed" : "Mark as Complete" %>
                    </button>
                </div>
            </div>
            <% } %>
            <% }); %>
        </div>
    </div>

</body>

</html>
