<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />

    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .disabled-link {
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content")
        function updateEnroll(id, enroll, userid) {
            console.log(enroll)
            console.log(userid)
            fetch(`/enroll/${id}`, {
                method: "post",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    enroll: !enroll,
                    userid : userid,
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
    </script>
</head>
<body>
    <div class="max-w-sm mx-auto my-4" role="group">
        <h1 class="text-5xl font-extrabold dark:text-white"><%= Course.title %></h1>
        <% if (user.isAdmin) { %>
        <a href="/chapter/new?CourseId=<%= Course.id %>">
            <button type="button" class=" my-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">
                Create New Chapter
            </button>

        </a>
        <% } %>
        <% if (!allMyCourse) { %>
            <button id="enroll-button-<%= Course.id %>" onclick="updateEnroll(<%= Course.id %>, false, <%= user.id %>)" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 focus:outline-none focus:ring focus:border-green-300">
                Enroll
            </button>
        <% } %>
        <% if (user.isAdmin) { %>
            <H1 class=""> Add Pages to Existing Chapters</H1>
            <% } %>
        <% allChapter.forEach(chapter => { %>
                <div class="max-w-sm mx-auto" role="group">
                    <a href="<%= allMyCourse ? '/chapter-page?ChapterId=' + chapter.dataValues.id : 'javascript:alert(\'You are not enrolled.\')' %>">              
                        <button type="button" class=" w-40 focus:outline-none my-4 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"><%= chapter.dataValues.title %></button>
                    </a>          
                </div>
        <% }); %>
    </div>
</body>
</html>