<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />

    <title>Course</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .disabled-link {
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
    <script>
            window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content")
        function updateEnroll(id, enroll, userid) {
            console.log(enroll)
            console.log(userid)
            fetch(`/enroll/${id}`, {
                method: "post",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    enroll: !enroll,
                    userid : userid,
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
    </script>
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-sm py-4 px-6">
        <div class="container mx-auto">
            <ul class="flex items-center space-x-2 text-sm">
                <li><a href="/home" class="text-blue-500 hover:underline">Home</a></li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mx-2" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8.293 4.293a1 1 0 011.414 0L12 7.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </li>
                <li class="text-gray-500">Course</li>
            </ul>
        </div>
    </nav>
    <div class="max-w-sm mx-auto my-4" role="group">
        <h1 class="text-5xl font-extrabold dark:text-white"><%= Course.title %></h1>
        <% if (user.isAdmin) { %>
        <a href="/viewcourse/<%= Course.id %>/chapter/new/">
            <button type="button" class=" my-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">
                Create New Chapter
            </button>

        </a>
        <% } %>
        <% if (!user.isAdmin && !allMyCourse) { %>
            <button id="enroll-button-<%= Course.id %>" onclick="updateEnroll(<%= Course.id %>, false, <%= user.id %>)" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 focus:outline-none focus:ring focus:border-green-300">
                Enroll
            </button>
        <% } %>
        <% if (user.isAdmin) { %>
            <H1 class=""> Add Pages to Existing Chapters</H1>

        <% allChapter.forEach(chapter => { %>
                <div class="max-w-sm mx-auto" role="group">
                    <a href="/viewcourse/<%= chapter.dataValues.CourseId %>/chapter-page/<%= chapter.dataValues.id %>">              
                        <button type="button" class=" w-40 focus:outline-none my-4 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"><%= chapter.dataValues.title %></button>
                    </a>          
                </div>
        <% }); %>
        <% } else { %>
        <% allChapter.forEach(chapter => { %>
                <div class="max-w-sm mx-auto" role="group">
                    <a href="<%= allMyCourse ? '/viewcourse/' + chapter.dataValues.CourseId + '/chapter-page/' + chapter.dataValues.id : 'javascript:alert(\'You are not enrolled.\')' %>">              
                        <button type="button" class=" w-40 focus:outline-none my-4 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"><%= chapter.dataValues.title %></button>
                    </a>          
                </div>
        <% }); %>
        <% } %>
    </div>
</body>
</html>