<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Home</title>
    <style>
        .enrolled-button {
            border-left: 5px solid rgb(169, 202, 229);
        }
    </style>
    
    <script>
            window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content")
        function updateEnroll(id, enroll, userid) {
            console.log(enroll)
            console.log(userid)
            fetch(`/enroll/${id}`, {
                method: "post",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    enroll: !enroll,
                    userid : userid,
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
        
        function viewCourse() {
            window.location.href = "/mycourse";
        }
        
        function progress() {
            window.location.href = "/progress";
        }
        function reports() {
            window.location.href = "/reports";
        }
    </script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">

        <div class="flex flex-col items-center mb-8">
            <h3 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white welcome-heading">Welcome to the Home Page, <%= user.firstName %>!</h3>

            <a href="/changepassword" >
                <button type="button" class="mb-2 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                    Change Password
                </button>
            </a>
            <a href="/signout" >
                <button type="button" class="mb-2 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                    Sign Out
                </button>
            </a>

            <% if(user.isAdmin) { %>  
            <a href="/course/new">
                <button type="button" class="mb-2 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                  Create New Course
                </button>
            </a>
            <% } %>

            <button type="button" onclick="viewCourse()" class="mb-2 px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                My courses
            </button>
            <% if(!user.isAdmin) { %>  

            <button type="button" onclick="progress()" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
              View Progress Status
            </button>
            <% } %>

            <% if(user.isAdmin) { %>  

            <button type="button" onclick="reports()" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                View reports
              </button>
              <% } %>
        </div>
        <% if(user.isAdmin) { %>  
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                <% allCourse.forEach(course => { %>
                    <div class="bg-white overflow-hidden shadow-lg rounded-lg course-container" data-course-id="<%= course.dataValues.id %>">
                        <div class="p-4">
                            <h2 class="text-lg font-semibold mb-2"><%= course.dataValues.title %></h2>
                            <% let chapterCount = 0; %>
                            <% allChapter.forEach(chapter => { %>
                                <% if (chapter.CourseId === course.id && chapterCount < 2) { %>
                                    <li class="text-gray-600 mb-4"><%= chapter.dataValues.title %></li>
                                    <% chapterCount++; %>
                                <% } %>
                            <% }); %>
                            
                            <div class="flex space-x-4">
                                <a href="/viewcourse/<%= course.dataValues.id %>" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">
                                    View Course
                                </a>
                                
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <% } else { %>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <% allCourse.forEach(course => { %>
                <div class="bg-white overflow-hidden shadow-lg rounded-lg course-container" data-course-id="<%= course.dataValues.id %>">
                    <div class="p-4">
                        <h2 class="text-lg font-semibold mb-2"><%= course.dataValues.title %></h2>
                        <% let chapterCount = 0; %>
                        <% allChapter.forEach(chapter => { %>
                            <% if (chapter.CourseId === course.id && chapterCount < 2) { %>
                                <li class="text-gray-600 mb-4"><%= chapter.dataValues.title %></li>
                                <% chapterCount++; %>
                            <% } %>
                        <% }); %>
                        
                        <div class="flex space-x-4">
                            <a href="/viewcourse/<%= course.dataValues.id %>" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">
                                View Course
                            </a>
                            
                            <% if (allMyCourse.some(mycourse => mycourse.dataValues.CourseId === course.dataValues.id)) { %>
                                <button id="enroll-button-<%= course.dataValues.id %>" onclick="updateEnroll(<%= course.dataValues.id %>, true, <%= user.id %> )" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 focus:outline-none focus:ring focus:border-green-300">
                                    Enrolled
                                </button>
                            <% } else { %>
                                <button id="enroll-button-<%= course.dataValues.id %>" onclick="updateEnroll(<%= course.dataValues.id %>, false, <%= user.id %> )" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">
                                    Enroll
                                </button>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <% } %>

    </div>
</body>
</html>

